@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-15vw);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    animation: fadeInLeft 2s ease-out;
}

.hero-content .buttons-div {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30vw;
    align-items: center;
    gap: 2vh;
    margin-top: 4vh;
}

.hero-content img {
    width: 30vw;
}