.underlined-title {
    text-align: center;
}

.underlined-title h1, .underlined-title h2, .underlined-title h3, .underlined-title h4 {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.underlined-title h1::before, .underlined-title h2::before, .underlined-title h3::before, .underlined-title h4::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 3px solid #0466c8;
}