.background-filter {
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    opacity: 0.8;
}

.background-filter.blue {
    background-image: linear-gradient(to right, #001233ff, #023e7dff);
    background-color: transparent;
}

.background-filter.not-blue {
    background-image: none;
    background-color: #d6d6d6ff;
}