.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contact-section .left {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-section .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-end;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0466c848;
    padding: 4vh;
    border-radius: 16px;
    color: white;
    gap: 5vh;
    width: 50%;
}

.contact-info p {
    color: white;
}

.contact-info img {
    height: 4vh;
    width: 4vh;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    transition: all ease 0.5s;
}

.contact-info .contacts {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

.contact-info .contacts p {
    font-style: italic;
    font-weight: bold;
    transition: all ease 0.5s;
}

.contact-info .contacts img:hover {
    scale: 1.2;
    cursor: pointer;
}