.language-selector .language-flag {
    width: 1.5vw;
    height: auto;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    margin-left: 1.5vw;
    transition: all ease 0.5s;
}

.language-selector .language-flag.selected-lg{
    border-bottom: 0.5vh solid white;
}

.language-selector .language-flag:hover{
    /* transform: scale(1.1); */
    border-bottom: 3px solid white;
}

@media (max-width: 850px){
    .language-selector .language-flag {
        margin-left: 0;
        width: 4vw;
    }

    .language-selector {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}