.services-grid {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr)); /* Ajusta automáticamente las columnas */
    gap: 5vh;
    width: 100%;
}

@media (max-width: 850px) {
    .services-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Ajusta a una columna en pantallas pequeñas */
    }
}
