.section {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}