.about-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 80vw;
}

.about-information .left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.about-information .right {
    display: flex;
    flex: 1;
}

.team {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}