.about-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 80vw;
}

.about-information .left {
    display: flex;
    flex: 0.3;
}

.about-information .right {
    display: flex;
    flex: 0.7;
}