* {
  margin: 0;
  padding: 0;
  z-index: 2;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* FONT SIZES */
h1 {
  font-size: 6vh;
  font-weight: bold;
}

h2 {
  font-size: 5vh;
  font-weight: 500;
}

h3 {
  font-size: 4vh;
  font-weight: 500;
}

h4 {
  font-size: 3vh;
  font-weight: bold;
}

p {
  font-size: 2vh;
}

a {
  font-size: 1.8vh;
}

/* font styles */
p {
  color: #5c677dff;
  font-weight: bold;
  text-align: justify;
}